extends layout

block content
  h1#naslov= title
  p#paragraf Dobrodošli na stranicu: #{pagetitle}
  -if(flag == 0)
    .alert.alert-danger(role="alert") #{message}
  -if(flag == 1)
    .alert.alert-success(role="alert") #{message}
  .row 
  .col-sm-1 
  .col-sm-4 
  include pages/login
  .col-sm-2 
  .col-sm-4 
  include pages/registration 
  .col-sm-1